body{
    background: url(/images/weight-background.jpg) no-repeat center center fixed;
    /* background: linear-gradient(to bottom, purple 0%, pink 100%) no-repeat center center fixed; */
    background-size: cover;
    opacity: 1;
    color: #fff;
}

.signUp-form, .login-form{
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    opacity: 0.8;
    max-width: 55%;
    margin: 0 auto;
}

.loginLink{
    margin: 0 auto;
    text-align: center;
}

input{
    margin-top: 1em;
    margin-bottom: 1em;
}

hr{
    font-size: x-large;
    width: 30%;
    color: orange;
    border: 0.1em solid orange;
}